<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理系统模板Chuang Ke界面 </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <hr/>
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>登录</h3>
        <hr>
        <div class="am-btn-group">

            <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> 管&nbsp &nbsp
            </a>
            <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i>
                理&nbsp &nbsp </a>
            <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> 员&nbsp
                &nbsp </a>
        </div>
        <br>
        <br>

        <form method="get" action="###" onsubmit="javascript:return false;" class="am-form" id="admin_form">
            <label for="admin_id">帐号:</label>
            <input type="text" name="admin_id" id="admin_id" value="">
            <br>
            <label for="password">密码:</label>
            <input type="password" name="password" id="password" value="">
            <br>
            <label for="remember-me">
                <input id="remember-me" type="checkbox">
                记住密码
            </label>
            <br/>

            <div class="am-cf">
                <input type="button" name="login" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                <input type="button" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
            </div>
        </form>
        <hr>
        <p>© 2014 版权所有. <a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
    </div>
</div>
<script src="/javascripts/jquery-1.12.3.min.js"></script>
<script>
    $('input[name=login]').click(function (e) {

        $.post('/admins/getAdmin', {admin_id: $('#admin_id').val(),admin_pwd:$('#password').val()}, function (data) {
            console.log(data);
            var $admin_form = $('#admin_form');
            $admin_form.empty();
            if (data.length > 0) {
                window.location = "/admins/admin-index";
            }
            else {
                console.log(data);
                var html = '<p>'
                        + "用户名或密码错误!"
                        + '</p>';
                $admin_form.append(html);
            }
        });



    });
</script>
</body>
</html>