

<!--侧边栏-->
<div class="ck-sidebar">
    <div class="ck-sidebar-logined" id="hide">
        <div >
            <a href="#" alt="">
                <img src="/images/common/message.png">
                收到<span>3</span>条私信
            </a>
        </div>
        <div>
            <a href="#" alt="">
                <img src="/images/common/set.png" alt="">
                修改个人资料
            </a>
        </div>
        <div>
            <a href="#" alt="">
                <img src="/images/common/message.png" alt="">
                关注了<span>8</span>个话题
            </a>
        </div>
        <div>
            <a href="#" alt="">
                <img src="/images/common/eye.png" alt="">
                被<span>667</span>人浏览
            </a>
        </div>
    </div>
    <div class="ck-sidebar-common">
        <div>
            <a href="/users/articlesub" myrole="loginuser">
                <img src="/images/common/draft.png">
                发表文章
            </a>
        </div>
        <div>
            <a href="/users/loginUserCreative" myrole="loginuser">
                <img src="/images/common/create.png" alt="">
                我的创意
            </a>
        </div>
        <div>
            <a href="#" alt="" myrole="loginuser">
                <img src="/images/common/myIssue.png" alt="">
                我关注的问题
            </a>
        </div>
        <div>
            <a href="#" alt="" myrole="loginuser">
                <img src="/images/common/invite.png" alt="">
                邀请我参与的问题
            </a>
        </div>
    </div>
    <div class="ck-sidebar-movements">
        <div>
            <a href="#" alt="">
                <img src="/images/common/square.png" alt="">
                创意广场
            </a>
        </div>
        <div>
            <a href="#" alt="">
                <img src="/images/common/frineds.png" alt="">
                创友圈子
            </a>
        </div>
    </div>
    <div class="ck-sidebar-copyright">
        <small>
            <a href="#">隐私权政策</a>
            &nbsp;-&nbsp;
            <a href="#">服务条款</a>
        </small>
        <small>
            <a href="#">©2016 CD高科</a>
            &nbsp;&nbsp;
            <a href="#">联系我们</a>
        </small>
    </div>
</div>
