
<!--给我留言-->
<div class="write_message">
    <div class="write_message_all">
        <div class="write_message_top">给Ta留言</div>
        <div class="write_message_polite">Please be polite.We appreciate that.<br>Your email address will not be published and required fields are marked</div>
        <textarea class="" id="words" cols="30" rows="10" >Your comments*</textarea>
        <div class="write_message_footer">
            <form action="" method="get">
                <label><input name="Fruit"  type="checkbox" />&nbsp;&nbsp;<span class="message_word">私密留言</span></label>
                <lable><a class="submit_button" name="comments">提交</a></lable>
            </form>
        </div>
    </div>
</div>
